
#titre{
	text-align : center;
	height:500px;
	text-shadow : 2px 2px 1px #000000;
	padding-top : 150px;
	background-image:url('../img/pasta.jpg');
	background-attachement : fixed;
	background-size : cover;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
 